/*Mobile*/
@media screen and (max-width:700px	){
	.gridHome {
		height: 30%;
		width: auto;
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: auto;
		grid-template-areas: "area1  area1"
		 					  "area3 area3"
		 					  "area2 area2"
							  "area4 area4"
							  "area5 area5"
							  "area12 area12"
							  "area6 area7"
							  "area8 area9"
							  "area10 area11";
							  
	}
	
	.gridProd {
		height: 30%;
		width: auto;
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: auto;
		grid-template-areas: "area1  area1"
		 					  "area3 area3"
		 					  "area2 area2"
							  "area4 area4"
							  "area5 area5"
							  ;
							  
	}

.gridUbicacion {
		height: 30%;
		width: auto;
		display: grid;
		grid-template-columns: 1fr ;
		grid-template-rows: repeat(4, 1fr); 
		grid-template-areas: "area4"
							 "area1" 
							 "area2" 
							 "area3"
							 "area8"
							  "area5" 
							  "area6"
							  "area7" 
							  "area12"
							  "area9" 
							  "area10" 
							  "area11" 
							  "area16"
							  "area13" 
							  "area14" 
							  "area15" 
							  "area20"
							  "area17" 
							  "area18"
							   "area19" ;
							  
	}
	
h1 {
		//font-size: $textXl; 
		//font-weight: $sizeFont1; 
		@include texto($textl, $sizeFont1);
}

}



/*Tablet*/
@media screen and (max-width:1000px	){
	.gridHome {
		height: 30%;
		width: auto;
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: auto;
		grid-template-areas: "area1  area1"
		 					  "area3 area3"
		 					  "area2 area2"
							  "area4 area4"
							  "area5 area5"
							  "area12 area12"
							  "area6 area7"
							  "area8 area9"
							  "area10 area11";
							  
	}
	
	.gridProd {
		height: 30%;
		width: auto;
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: auto;
		grid-template-areas: "area1  area1"
		 					  "area3 area3"
		 					  "area2 area2"
							  "area4 area4"
							  "area5 area5"
							  ;
							  
	}

.gridUbicacion {
		height: 30%;
		width: auto;
		display: grid;
		grid-template-columns: 1fr ;
		grid-template-rows: repeat(4, 1fr); 
		grid-template-areas: "area4"
							 "area1" 
							 "area2" 
							 "area3"
							 "area8"
							  "area5" 
							  "area6"
							  "area7" 
							  "area12"
							  "area9" 
							  "area10" 
							  "area11" 
							  "area16"
							  "area13" 
							  "area14" 
							  "area15" 
							  "area20"
							  "area17" 
							  "area18"
							   "area19" ;
							  
	}
	
h1 {
		
		@include texto($textXl, $sizeFont1);
}

}
